body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2B2E4A;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
     display: flex;
     color: white;
     align-items: flex-end;
     justify-content: space-around;
     flex-direction: column-reverse;
     word-wrap: break-word;
     word-break: break-all;
     background-color: black;
     opacity: 0.5;
     grid-column: span 4;
     padding: 20px 10px;
}
.previous-output {
     text-align: right;
     width: 230px;
     font-size: 1.125rem;
}
.current-output {
     text-align: right;
     width: 230px;
     font-size: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    min-height: 100vh;
    align-content: center;
}

.grid-container > div:not(.flex-container) {
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #d9f7fc;
    color: #1f1f1f;
    font-size: 2rem;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    opacity: 0.75;
    transition: all 0.25s linear;
}

.grid-container > div:not(.flex-container)::before {
     content: "";
     position: absolute;
     left: 0;
     top: 100%;
     width: 100%; height: 100%;
     background-color: #c2e9ff;
     z-index: -1;
     transition: all 0.25s ease;
}

.grid-container > div:not(.flex-container):hover::before {
     top: 0;
}

.del {
    grid-column: span 2;
}

.zero {
     grid-column: span 3;
}
